<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>千峰互联</title>
{#		<script src="js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>#}
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="static/css/css.css"/>

	</head>
	<body>
		<div class="container">

			<div class="top">
				<a href=""><img src="static/img/2.png" class="top_img"/></a>
				<ul>
				<li><a href="">首页</a></li>
				<li><a href="">走进千峰</a></li>
				<li><a href="">人才服务</a></li>
				<li><a href="">千峰教育</a></li>
				<li><a href="">好程序员</a></li>
				<li><a href="">扣丁学堂</a></li>
				<li><a href="">APP研发</a></li>
				<li><a href="">培训服务</a></li>
				<li><a href="">创业孵化</a></li>
			</ul>
			</div>
			<img src="static/img/1.png" class="banner"/>
		</div>
        {% block main %}


        {% endblock main %}

		<div class="container introduce">
			<div class="middle">
				<ul>
					<li>
						<a href="">
							<img src="img/7.png"/>
							<p>千峰教育</p>
							<p>国内最大的移动互联网开发人才提供平台</p>
							<p>精准高效的人才匹配</p>
							<p>精准高效的人才匹配</p>
							<p>精准高效的人才匹配</p>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/11.png"/>
							<p>千峰教育</p>
							<p>国内最大的移动互联网开发人才提供平台</p>
							<p>精准高效的人才匹配</p>
							<p>精准高效的人才匹配</p>
							<p>精准高效的人才匹配</p>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/10.png"/>
							<p>千峰教育</p>
							<p>国内最大的移动互联网开发人才提供平台</p>
							<p>精准高效的人才匹配</p>
							<p>精准高效的人才匹配</p>
							<p>精准高效的人才匹配</p>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/9.png"/>
							<p>千峰教育</p>
							<p>国内最大的移动互联网开发人才提供平台</p>
							<p>精准高效的人才匹配</p>
							<p>精准高效的人才匹配</p>
							<p>精准高效的人才匹配</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="news">
			<a href=""><img src="img/3.png" class="news_image"/></a>
			<div class="new_m">
			<a href="" class="news_var">
				<span>动态新闻</span>
				<span>千峰公开课IOS开篇之战 性感约会IOS 7</span>
				<span>千峰公开课IOS开篇之战 性感约会IOS 7千峰公开课IOS开篇之战性感约会IOS 7千峰公开课IOS开篇之战 性感约会IOS 7</span>
			</a>
			<ul class="train">
				<li><a href="">&gt;企业内训首选千峰教育 高级讲师再赴沃尔玛倾</a></li>
				<li><a href="">&gt;企业内训首选千峰教育 高级讲师再赴沃尔玛倾</a></li>
				<li><a href="">&gt;企业内训首选千峰教育 高级讲师再赴沃尔玛倾</a></li>
				<li><a href="">&gt;企业内训首选千峰教育 高级讲师再赴沃尔玛倾</a></li>
			</ul>
			</div>

			<div class="new_end">
				<p>动态新闻</p>
				<p><a href=""><img src="img/6.png"/><span>点击咨询</span></a><a href=""><img src="img/6.png"/><span>点击咨询</span></a></p>
				<p>400-654-7778</p>
				<ul>
					<li>培训咨询：010-82790226/7</li>
					<li>培训咨询：010-82790226/7</li>
					<li>培训咨询：010-82790226/7</li>
					<li>培训咨询：010-82790226/7</li>
				</ul>
			</div>
		</div>
		<div class="foot">
			<div class="foot_message">
				<div>
					<ul>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
					</ul>
					<ul>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
					</ul>
					<ul>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
					</ul>
					<ul>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
					</ul>
					<ul>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
						<li><a href="">走进千峰</a></li>
					</ul>
				</div>
				<div>
					<img src="img/4.png"/>
				</div>
				<div>
					<img src="img/5.png"/>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>Copyright 2007-2014 北京千峰互联网科技有限公司</p>
		</div>
	</body>
</html>
